body{
    font-family: Arial,sans-serif;
    background-color: #c84d4d;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: hsl(198, 100%, 91%);
    border-radius: 8px;
}
.form-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],input[type="password"],input[type="number"]
{
    width: 100%;
    padding: 8px;
    border: 1px solid #f80f0f;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(244, 244, 244);
}
button[type="submit"]
{
    background-color: rgb(15, 49, 38);
    color: #efecec;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
button[type="submit"]:hover{
    background-color:rgb(26, 212, 20);
}