.title{
    font-size: 20px;
    font-weight: bold;
    color: #646812;
    margin-bottom: 10px;
    /* background-color: aqua; */
    /* padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px; */

    
}
.paragraph{
    font-size: 16px;
    color: #381bde;
    margin-bottom: 20px;
    /* background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    text-align: center; */

}


